services:
  db:
    image: postgres:18.0
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - strongmind_postgres_data:/var/lib/postgresql
  redis:
    image: redis:8.2.2
    ports:
      - '6379:6379'
  localstack:
    image: localstack/localstack:latest
    ports:
      - '4566:4566'
    environment:
      - SERVICES=s3
      - DEBUG=1
      - PERSISTENCE=1
    volumes:
      - './docker/localstack:/etc/localstack/init/ready.d'
      - 'localstack_data:/var/lib/localstack'
volumes:
  strongmind_postgres_data:
  localstack_data:
