---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Github-Api-Version:
      - '2022-11-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        [
          {
            "id": "12345678901",
            "type": "PushEvent",
            "actor": {
              "id": 123456,
              "login": "octocat"
            },
            "repo": {
              "id": 789012,
              "name": "octocat/Hello-World"
            },
            "created_at": "2024-01-01T00:00:00Z"
          }
        ]
  recorded_at: Sun, 12 Jan 2026 00:00:00 GMT
recorded_with: VCR 6.4.0
