---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Github-Api-Version:
      - '2022-11-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a01e3fe61e031b277ecffdb62e2505a660bf41354994ce05089664cc4d5b1d2a"
      Last-Modified:
      - Mon, 12 Jan 2026 17:54:01 GMT
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/events?page=2>; rel="next", <https://api.github.com/events?page=10>;
        rel="last"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1768244142'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"7401144939","type":"PushEvent","actor":{"id":178611968,"login":"Gabriel-Gerhardt","display_login":"Gabriel-Gerhardt","gravatar_id":"","url":"https://api.github.com/users/Gabriel-Gerhardt","avatar_url":"https://avatars.githubusercontent.com/u/178611968?"},"repo":{"id":1113957516,"name":"Gabriel-Gerhardt/Webhook-Manager","url":"https://api.github.com/repos/Gabriel-Gerhardt/Webhook-Manager"},"payload":{"repository_id":1113957516,"push_id":29696227683,"ref":"refs/heads/main","head":"4b1846dac162ab1ec2631e721be3c40ec74d8f22","before":"bcccb36af5254b06e9e99e74a4fbf29ab7ed5b2a"},"public":true,"created_at":"2026-01-12T17:54:01Z"},{"id":"7401144947","type":"DeleteEvent","actor":{"id":56000175,"login":"komer3","display_login":"komer3","gravatar_id":"","url":"https://api.github.com/users/komer3","avatar_url":"https://avatars.githubusercontent.com/u/56000175?"},"repo":{"id":144193954,"name":"linode/linode-cloud-controller-manager","url":"https://api.github.com/repos/linode/linode-cloud-controller-manager"},"payload":{"ref":"nb-frontend-vpc","ref_type":"branch","full_ref":"refs/heads/nb-frontend-vpc","pusher_type":"user"},"public":true,"created_at":"2026-01-12T17:54:01Z","org":{"id":5184305,"login":"linode","gravatar_id":"","url":"https://api.github.com/orgs/linode","avatar_url":"https://avatars.githubusercontent.com/u/5184305?"}},{"id":"7401145064","type":"DeleteEvent","actor":{"id":19737354,"login":"jbalestrine","display_login":"jbalestrine","gravatar_id":"","url":"https://api.github.com/users/jbalestrine","avatar_url":"https://avatars.githubusercontent.com/u/19737354?"},"repo":{"id":1006128399,"name":"jbalestrine/masterchief","url":"https://api.github.com/repos/jba[...]
