---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Github-Api-Version:
      - '2022-11-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        [
          {
            "id": "12345678901",
            "type": "PushEvent",
            "actor": {
              "id": 123456,
              "login": "octocat",
              "display_login": "octocat",
              "gravatar_id": "",
              "url": "https://api.github.com/users/octocat",
              "avatar_url": "https://avatars.githubusercontent.com/u/123456?"
            },
            "repo": {
              "id": 789012,
              "name": "octocat/Hello-World",
              "url": "https://api.github.com/repos/octocat/Hello-World"
            },
            "payload": {
              "push_id": 10115855396,
              "size": 1,
              "distinct_size": 1,
              "ref": "refs/heads/main",
              "head": "abc123def456",
              "before": "def456abc123",
              "commits": [
                {
                  "sha": "abc123def456",
                  "author": {
                    "email": "octocat@github.com",
                    "name": "Octocat"
                  },
                  "message": "Update README.md",
                  "distinct": true,
                  "url": "https://api.github.com/repos/octocat/Hello-World/commits/abc123def456"
                }
              ]
            },
            "public": true,
            "created_at": "2024-01-01T00:00:00Z"
          }
        ]
  recorded_at: Sun, 12 Jan 2026 00:00:00 GMT
recorded_with: VCR 6.4.0
