---
http_interactions:
- request:
    method: get
    uri: https://github.enterprise.com/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Github-Api-Version:
      - '2022-11-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        [
          {
            "id": "123",
            "type": "PushEvent",
            "actor": {
              "id": 12345,
              "login": "testuser",
              "display_login": "testuser",
              "gravatar_id": "",
              "url": "https://github.enterprise.com/users/testuser",
              "avatar_url": "https://avatars.githubusercontent.com/u/12345?"
            },
            "repo": {
              "id": 67890,
              "name": "testuser/test-repo",
              "url": "https://github.enterprise.com/repos/testuser/test-repo"
            },
            "payload": {
              "repository_id": 67890,
              "push_id": 10000000000,
              "ref": "refs/heads/main",
              "head": "abc123",
              "before": "def456"
            },
            "public": true,
            "created_at": "2026-01-12T00:00:00Z"
          }
        ]
  recorded_at: Mon, 12 Jan 2026 00:00:00 GMT
recorded_with: VCR 6.4.0
